<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Exotic Recipes</title>    
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header class="main-header clearfix">
        <div class="header-image-left"></div>
        <div class="title-menu-wrapper">
            <h1 class="header-title">Exotic Recipies</h1>
            <ul class="header-menu">
                <li><a href="@Url.Action("Index")">Home</a></li>
                <li>Search</li>
                <li>About</li>
                <li><a href="@Url.Action("Contact")" id="contact-page">Contact</a></li>
            </ul>
        </div>
        <div class="header-image-right"></div>
    </header>

    <div class="container-body-content">
            @RenderBody()
    </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Bill Sanders</p>
        </footer>

    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</body>
</html>