@model ExoticRecipeWebsite.Models.DailyRecipes

@{
    ViewBag.Title = "Index";
}

<div class="recipe-name-container">
    <h1 class="title">@Model.RecipeTitle</h1>
</div>

<div class="recipe-of-day-container">
    <div class="ingredients">
        <h1 class="ingredients-headline">Ingredients:</h1>
        <form class="serving-size-input" type="text" action="index.html" method="post">
            <label for="serving-size">Serving Size:</label>
            <input type="number" id="serving-size" name="serving_size" value="4" min="1" max="20" maxlength="2" />
        </form>
            @foreach (string[] ingredient in Model.RecipeIngredients)
            {
                <div class="ingredient-lists-container">
                    <div class="ingredient-names-list"> 
                        <ul>
                            <li>@(ingredient[0] + ": ")</li>
                        </ul>
                    </div>
                    <div class="ingredient-amounts-list">
                        <ul>
                            <li>@(ingredient[1] + " " + ingredient[2])</li>
                        </ul>
                    </div>
                </div>
            }
        <button type="submit">Serving Size</button>
    </div>
    <div class="recipe-of-day">
        <figure class="recipe-of-day-figure">
            <img src="@Model.RecipeImage" width="300" height="300" />
            <figcaption>@Model.RecipeCaption</figcaption>
        </figure>

    </div>
</div>